// Font
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
// Custom Variables
:root {
    --ff-lora: 'Lora', serif;
    --ff-montserrat: 'Montserrat', sans-serif;
    --accent-color: #39b54a;
    --white: #FFF;
    --black: #000;
    --padding-inline: 2rem;
}
//Resets and General Styling

* {
    margin: 0;
    padding: 0;
}

*,*::before,*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul[role='list'] {
    list-style: none;
}

img,picture {
    width: 100%;
    display: block;
    max-width: 100%;
}

button,
input,
select,
textarea {
    font: inherit;
}

html {
    // font-size: 10px;
    height: 100%;
    width: 100%;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    width: 100%;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 1.6rem;
    font-family: var(--ff-montserrat);
    overflow-x: hidden;
    position: relative;
}

// Utility Classes

.wrapper {
    padding-inline: var(--padding-inline);
    max-width: 1100px;
    margin-inline: auto;
}

.btn {
    border: none;
    background: none;
    cursor: pointer;
    text-align: center;
}

.flex {
    display: flex;
}
.d-grid {
    display: grid;
}
.description {
    line-height: 2;
}
.btn-outline {
    border: 2px solid var(--white);
    color: var(--white);
    transition: all 300ms ease;
    text-transform: uppercase;
    &:hover,&:focus {
        color: var(--black);
        background-color: var(--white);
    }
}
.description {
    font-family: var(--ff-lora);
}
.section {
    padding-block: 8em;
}
.visible {
    animation: visible 1s linear forwards;
}
// Hero Section

.hero {
    min-height: 100vh;
    background-image: url('../images/hero-bg.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.7);
    background-blend-mode: multiply;
    background-attachment: fixed;
    position: relative;
}
.header {
    height: 10vh;
    .navbar {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    .logo {
        width: 10rem;
    }
}
.headline {
    color: var(--accent-color);
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 2px;
}
.menu {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: fixed;
    right: var(--padding-inline);
    cursor: pointer;
    padding: 0 2rem;
    z-index: 99;
    .headline {
        transition: color 500ms ease;
    }
}
.menu.active {
    background-color: var(--black);
}
.menu:hover {
    .headline {
        color: var(--white);
    }
}
.menu-open-btn {
    .btn {
        color: var(--white);
        font-size: 3rem;
    }
}

.navigation {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #111;
    max-width: 280px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 4rem;
    transform: translateX(150%);
    transition: all 500ms ease;
    overflow: hidden;
    z-index: 100;
    .headline {
        font-size: 1.2rem;
    }
    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu-close-btn {
        color: var(--white);
        font-size: 2rem;
        i {
            padding: .5rem;
            background-color: rgba(0,0,0,.2);
        }
    }
    .nav-list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .nav-link {
            color: var(--white);
            font-size: 1.8rem;
            font-weight: 700;
            text-transform: capitalize;
        }
    }
    .description {
        color: rgba(255,255,255,.3);
        font-size: 1.3rem;
        font-family: var(--ff-montserrat);
        a {
            color: var(--white);
            font-weight: 500;
        }
    }
    .social-links {
        display: flex;
        align-items: center;
        gap: 1rem;
        .social-link {
            color: var(--white);
            transition: all 400ms ease;
            font-size: 2rem;
            opacity: .3;
            &:hover {
                opacity: 1;
            }
        }
    }
    .social-links,.description,.nav-list,.headline {
        transform: translateX(50%);
        opacity: 0;
    }
}
.navigation.active {
    transform: translateX(0);
    .social-links,.description,.nav-list,.headline {
        animation: fadeIn 1s ease 500ms forwards;
    }   
}
@keyframes fadeIn {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.scroll-down {
    position: absolute;
    right: var(--padding-inline);
    bottom: 5rem;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: .5rem;
    padding-right: 2rem;
    a {
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
    }
    .arrow {
        color: var(--accent-color);
        font-size: 2.5rem;
    }
    .scroll-down--line {
        width: 2px;
        background-color: var(--accent-color);
        height: 8rem;
        position: absolute;
        right: 0;
        top: 1.5rem;
    }
}
.social-link-container {
    position: absolute;
    top: 50%;
    right: var(--padding-inline);
    transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;
    .social-links {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        li {
            position: relative;
        }
        .social-link {
            color: var(--white);
            aspect-ratio: 1;
            border: 2px solid var(--white);
            font-size: 1.8rem;
            border-radius: 50%;
            width: 3.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
        }
    }
    .tooltip {
        text-align: right;
        margin-right: 1rem;
        font-size: 1.2rem;
        text-transform: capitalize;
        color:var(--accent-color);
        transition: all 400ms ease;
        position: absolute;
        right: 110%;
        top: 50%;
        translate: 0 -50%;
        transform: scaleX(0);
        transform-origin: right;
        font-weight: 500;
    }
}
.social-links li:hover > .tooltip {
    transform: scaleX(1);
}
.back-to-top {
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    color: rgba(255,255,255,.5);
    padding: 1.5rem;
    font-size: 1.8rem;
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 500ms ease;
    &:hover {
        color: var(--white);
    }
}
.back-to-top.active {
    opacity: 1;
    pointer-events: all;
}

.hero-content {
    margin-top: 10rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 4rem;
    animation: fade-up 1s linear forwards;
    .intro-text {
        font-size: 1.6rem;
        text-transform: uppercase;
        color: rgba(255,255,255,.5);
        letter-spacing: 2px;
    }
    .hero-title {
        color: var(--white);
        font-size: 3rem;
    }
    .btn-group--hero {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;
        font-size: 1.2rem;
        letter-spacing: 2px;
        .btn-outline {
            padding: 2rem;
            font-weight: 500;
        }
    }
    
}
@keyframes fade-up {
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
// About Section
.about {
    background-color: var(--accent-color);
    position: relative;
    .about-header {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        transform: translateY(50%);
        transition: all 1s linear;
        .intro-text {
            font-size: 1.4rem;
            letter-spacing: 2px;
        }
        .about-title {
            font-size: 4rem;
            color: var(--white);
        }
        .divider {
            width: 250px;
            height: 1px;
            background-color: rgba(255,255,255,.5);
            display: block;
            margin-block: 3rem;
        }
    }
}

.about-body {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4rem;
    transform: translateY(50%);
    opacity: 0;
    .divider {
        width: 250px;
        height: 1px;
        background-color: rgba(255,255,255,.5);
        display: block;
    }
    .counter {
        color: var(--white);
        font-size: 7.3rem;
    }
    .counter-text {
        font-size: 1.6rem;
        font-weight: bold;
        text-transform: capitalize;
    }
}
.line-about {
    position: absolute;
    width: 2px;
    background-color: var(--white);
    top: 0;
    right: var(--padding-inline);
    height: 7rem;
}
// Services Section
    .services {
        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3rem;
            .divider {
                width: 250px;
                height: 1px;
                background-color: rgba(0,0,0,.2);
                display: block;
                margin-block: 4rem;
            }
        }
    }

.services-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(50%);
    opacity: 0;
    .intro-text {
        color: var(--accent-color);
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .title {
        font-size: 3.3rem;
        font-weight: 500;
    }
}
.services-body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
}
.service {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    transform: translateY(50%);
    opacity: 0;
    max-width: 40ch;
    .service-body {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .tagline {
        font-size: 2.5rem;
        text-transform: capitalize;
        font-weight: 500;
    }
    .description {
        opacity: .7;
    }
}
.icon {
    width: 6rem;
}
// Works Section
.works {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 20%;
        top: 0;
        background-color: #111;
        pointer-events: none;
        z-index: -1;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .works-header {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        transform: translateY(50%);
        opacity: 0;
        .intro-text {
            color: var(--accent-color);
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 1.4rem;
        }
        .title {
            color: var(--white);
            font-size: 3.3rem;
            font-weight: 700;
        }
        .divider {
            width: 250px;
            height: 1px;
            background-color: rgba(255,255,255,.1);
            display: block;
            margin-block: 2rem;
        }
    }
}
.gallery {
    transform: translateY(10%);
    opacity: 0;
}
.gallery-image-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .overlay {
        position: absolute;
        inset: 0;
        background-color: rgba(0,0,0,.6);
        opacity: 0;
        pointer-events: none;
    }
    .icon-plus {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 1s ease;
        opacity: 0;
        font-size: 2rem;
    }
    .icon-share {
        position: absolute;
        top: 3rem;
        left: 3rem;
        color: rgba(255,255,255,.5);
        aspect-ratio: 1;
        border: 1px solid var(--white);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        position: relative;
        cursor: pointer;
        transition: all 1s ease;
        transform: translateY(-200%);
        &::before {
            content: '';
            width: 1px;
            height: 3rem;
            background-color: rgba(255,255,255,.2);
            position: absolute;
            bottom: 100%;
        }
        &:hover {
            background-color: var(--white);
            color: var(--black);
        }
    }
    .information {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 3rem;
        left: 3rem;
        transition: all 1s ease;
        transform: translateY(200%);
        .name {
            color: var(--white);
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 1.5rem;
        }
        .vocation {
            color: rgba(255,255,255,.5);
            text-transform: capitalize;
            font-size: 1.4rem;
        }
    }
    img {
        width: 100%;
        transition: all 1s ease;
    }
}
.gallery-image-container:hover {
    .overlay {
        animation: fade-in 1s linear forwards;
    }
    img {
        scale: 1.1;
    }
    .icon-share {
        transform: translateY(0);
    }
    .icon-plus {
        opacity: 1;
    }
    .information {
        transform: translateY(0);
    }
}
@keyframes fade-in {
    to {
        pointer-events: all;
        opacity: 1;
    }
}
// Clients Section
.clients {
    position: relative;
    background-color: #e6e6e6;
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    .clients-header {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        .intro-text {
            color: var(--accent-color);
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 1.4rem;
        }
        .title {
            font-size: 3rem;
            font-weight: 700;
            line-height: 1.3;
        }
    }
}
.swiper {
    width: 100%;
    max-width: 100%;
    height: auto;
    .swiper-wrapper {
        width: 100%;
        height: 100%;
        padding: 3rem 0;
    }
    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        .brand {
            opacity: .7;
            transition: all 500ms ease;
            width: 14rem;
            &:hover,
            &:focus {
                opacity: 1;
            }
        }
    }
}
.swiper-pagination {
    position: static !important;
    display: flex;
    justify-content: center;
    margin-top: 3rem !important;
    gap: .75rem;
}
.swiper-pagination-bullet {
    width: 1rem !important;
    height: 1rem !important;
    cursor: pointer;
}
.swiper-pagination-bullet-active {
    background-color: var(--accent-color) !important;
}
// Slider
.slider-wrapper {
    margin-top: 4rem;
    overflow: hidden;
}
.slider {
    display: flex;
}
.slider-item {
    width: 100%;
    flex: 0 0 auto;
    overflow: hidden;

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 3rem;
        .description {
            opacity: .7;
        }
        .article-head {
            display: flex;
            flex-direction: column;
            align-items: center;
            .profile-picture {
                width: 8rem;
                border-radius: 50%;
                object-fit: contain;
            }
            .author {
                font-weight: 700;
                text-transform: capitalize;
                display: block;
                margin-block: .5rem;
            }
            .vocation {
                font-size: 1.4rem;
                opacity: .7;
                .uppercase {
                    text-transform: uppercase;
                    
                }
            }
        }
    }
}
.a11y-slider-dots {
    width: 100%;
    display: flex;
    margin-top: 5rem;
    justify-content: center;
    gap: 1.5rem;
    list-style: none;
    button {
        display: block;
        font-size: 0;
        text-indent: -9999px;
        border: none;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        padding: .5rem;
        background-color: #555;
        opacity: .5;
        cursor: pointer;
        transition: all 500ms ease;
    }
    button.active {
        background-color: var(--accent-color) !important;
        opacity: 1;
    }
}

// Contacts Section

.contacts {
    background-image: url('../images/contact-bg.jpg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,.5);
    background-blend-mode: multiply;
    position: relative;
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
}
.line-contacts {
    position: absolute;
    width: 2px;
    height: 14rem;
    top: -7rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--accent-color);
}
.contacts-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .intro-text {
        font-size: 1.4rem;
        letter-spacing: 2px;
        color: var(--accent-color);
        text-transform: uppercase;
    }
    .title {
        font-size: 3rem;
        color: var(--white);
    }
}
.newsletter {
    .tagline {
        color: var(--white);
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 2px;
        font-size: 1.3rem;
    }
    .col-left {
        background-color: #141414;
        padding: 4rem 1rem; 
        display: flex;
        flex-direction: column;
        gap: 5rem; 
        overflow: hiddens; 
        form {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            input,
            textarea {
                appearance: none;
                background: transparent;
                border: none;
                width: 100%;
                padding-bottom: 2rem;
                border-bottom: 1px solid rgba(255,255,255,.3);
                outline: none;
                color: var(--white);
                &::placeholder {
                    color: var(--white);
                    font-size: 1.3rem;
                    opacity: .3;
                }

                &:focus {
                    border-color: var(--accent-color);
                }
            }
            textarea {
                padding-bottom: 10rem;
                resize: vertical;
            }
            .submit-btn {
                background-color: var(--accent-color);
                color: var(--white);
                text-transform: uppercase;
                font-weight: 500;
                letter-spacing: 2px;
                font-size: 1.3rem;
                padding-block: 1.5rem;
                transition: opacity 300ms ease;
                margin-top: 2rem;

                &:hover,&:focus {
                    opacity: .8;
                }
            }
        }
    }
    .col-right {
        text-align: center;
        padding: 4rem 0 0 0;
        display: flex;
        flex-direction: column;
        gap: 5rem;
        .tagline {
            display: none;
        }
        div {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        .question {
            color: var(--accent-color);
            font-size: 1.5rem;
            text-transform: capitalize;
        }
        .answer {
            color: var(--white);
            opacity: .5;
            font-size: 1.5rem;
        }
        .social-links {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
            .social-link {
                color: var(--white);
                transition: all 400ms ease;
                font-size: 2rem;

                &:hover {
                    color: var(--accent-color);
                }
            }
        }
    }
}
// Footer
.footer {
    background-color: #111;
    padding: 10rem 0 20rem 0;
    position: relative;
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        .left-col {
            display: flex;
            flex-direction: column;
            gap: 4rem;
            .logo {
                align-self: center;
                img {
                    width: 8rem;
                }
            }
        }
    }
    .right-col {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        .tagline {
            font-size: 1.5rem;
            color: var(--white);
            text-transform: capitalize;
        }
        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .input-container {
                background-color: rgb(15,15,15);
                input {
                    background: none;
                    border: none;
                    outline: none;
                    padding: 1.5rem 0;
                    width: 100%;
                    text-align: center;
                    color: var(--white);
                    &::placeholder {
                        text-align: center;
                        color: var(--white);
                        opacity: .3;
                        font-size: 1.4rem;
                    }
                }
                i {
                    display: none;
                }
            }
            .subscribe {
                font-size: 1.3rem;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: 500;
                padding: 1.5rem 0;
                background-color: var(--accent-color);
                color: var(--white);
                transition: all 300ms ease;

                &:hover,
                &:focus {
                    opacity: .8;
                }
            }
        }
    }
    .description {
        font-family: var(--ff-montserrat);
        font-size: 1.5rem;
        color: rgba(255,255,255,.3);
    }
    .copyright-claims {
        position: absolute;
        bottom: 4rem;
        left: 50%;
        transform: translateX(-50%);
        color: rgba(255,255,255,.3);
        font-size: 1.4rem;
        a {
            font-size: 1.5rem;
            text-transform: capitalize;
            color: var(--white);
        }
    }
}
// Keyframes 

@keyframes visible {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

// Media Queries

@media (min-width: 700px) {
    :root {
        --padding-inline: 3rem;
    }
    .social-link-container {
        opacity: 1;
        pointer-events: all;
    }
    .hero-content {
        text-align: left;
        max-width: 600px;
        justify-content: flex-start;
        margin: 10rem 0 0 !important;
        padding-left: 5rem 0;
        .title {
            font-size: 4rem;
        }
    }
    .btn-group--hero {
        flex-direction: row !important;
        gap: 3rem !important;
        margin-top: 5rem !important;
        .btn-outline {
            padding: 1.5rem 3rem !important;
        }
    }
    .about-header {
        .intro-text {
            font-size: 2rem !important;
        }
        .title {
            font-size: 6.5rem !important;
        }
        .description {
            font-size: 2rem !important;
        }
    }
    .about-body {
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        padding: 0 5rem;
        gap: 2rem;
        .divider {
            width: 1px;
            height: 100px;
        }
        .counter {
            font-weight: bold;
        }
    }
    
    .divider--last {
        display: none !important;
    }

    .divider--second {
        grid-column: 2;
    }
    .counter-container:nth-child(5) {
        grid-row: 2;
        grid-column: 1;
    }
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .newsletter {
        .col-right {
            align-items: flex-start;
            text-align: left;
        }
    }
    .footer {
        form {
            flex-direction: row !important;
            width: 100%;
            .input-container {
                flex: 1;
                display: flex;
                align-items: center;
                padding: 0 2rem;
                gap: 2rem;
                input {
                    flex: 1;
                    text-align: left !important;
                    &::placeholder {
                        text-align: left !important;
                    }
                }
                i {
                    display: block !important;
                    color: var(--white) !important;
                    font-size: 2rem;
                }
            }
            .subscribe {
                padding: 0 2rem !important;
            }
        }
    }
}
@media (min-width: 900px) {
    .hero-content {
        max-width: 750px !important;
        .intro-text {
            font-size: 1.6rem;
        }
        .title {
            font-size: 5rem;
        }
    }
    .about-body {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .divider--last {
            display: block !important;
        }
    }
    .services-header {
        .title {
            font-size: 4rem;
            font-weight: 700;
        }
    }
    .services-body {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        align-items: start;
    }
    .works-header {
        .title {
            font-size: 4.5rem !important;
            font-weight: 700 !important;
        }
    }
    .clients-header {
        .title {
            font-size: 4rem !important;
            font-weight: 700 !important;
        }
    }
    .article-body {
        max-width: 60ch;
        text-align: center;
        .description {
            font-size: 2.5rem !important;
        }
    }
    .newsletter {
        display: grid !important;
        grid-template-columns: 2fr 1fr;
        .col-right {
            background-color: #111;
            padding: 4rem 4rem;
            .tagline {
                display: block !important;
            }
        }
    }
    .footer {
        .wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            & > * {
                flex: 1;
            }
        }
        .logo {
            align-self: flex-start !important;
        }
    }
}
@media (min-width: 1000px) {
    .hero-content {
        padding-left: 12rem;
    }
}