:root {
    --black: #000;
    --white: #FFF;
    --dark-blue: rgb(21, 25, 34);
    --orangered: rgb(224, 47, 31);
    --text-color: rgb(42, 43, 50);
    --accent-color: rgb(62, 95, 255);
    --text-color-dimmer: rgb(108, 109, 117);
    --fw-light: 300;
    --fw-regular: 400;
    --fw-semibold: 500;
    --fw-bold: 700;
}