/*! === FONTS === */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;700&display=swap");

/*! === VARIABLES === */

:root {
  --light-clr: #fff;
  --light-clr-2: #BED2C9;
  --light-clr-3: #E1E7DD;
  --dark-clr: #2e2e2e;
  --body-font-clr: #bdbdbd;
  --body-bg-clr: #222222;
  --title-font: "Bebas Neue", cursive;
  --body-font: "Poppins", sans-serif;
}

/* === BASE === */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: 1.4rem;
  line-height: 1.5;
  background-color: var(--body-bg-clr);
  color: var(--body-font-clr);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
  background-color: transparent;
  border: none;
}

/*! === SCROLLBAR === */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--light-clr-2);
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*! === COMPONENTS === */

.container {
  margin-inline: auto;
  padding-inline: 1.8rem;
}
.btn {
  display: inline-block;
  cursor: pointer;
  transition: opacity 250ms;
}
.btn:is(:hover, :focus) {
  opacity: .8;
}
.btn--action {
  font-size: 1.8rem;
  color: var(--light-clr);
  line-height: 0;
}
.btn--text {
  font-family: var(--title-font);
  letter-spacing: 1px;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1rem 3rem;
}
.btn--transparent {
  color: var(--light-clr-2);
  border-bottom: 2px solid var(--light-clr-2);
  padding: 0;
}
.btn--green {
  background-color: var(--light-clr-2);
  color: var(--dark-clr);
}
.title {
  font-family: var(--title-font);
  color: var(--light-clr-3);
  letter-spacing: 1px;
  font-size: 3.6rem;
}
.title--main {
  font-size: clamp(4.2rem, 8vw, 10rem);
  line-height: 1.2;
  background-image: url('../images/showcase_image_lg.png');
  background-position: center 37%;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  position: relative;
  z-index: 10;
}
.section-metadata {
  padding-bottom: 6rem;
  text-align: center;
}
.section-metadata-decription {
  margin-top: 1.3rem;
}
/*! === HEADER === */

.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: var(--body-bg-clr);
  transition: padding 250ms;
}
.header.active {
  padding-top: 1rem;
  box-shadow: 0 1px 0 rgba(255,255,255,.3);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-logo {
  margin-right: 2.5rem;
}
.navbar-logo-image {
  min-width: 10.2rem;
}
.navbar-menu {
  background-color: var(--dark-clr);
  position: absolute;
  top: 0;
  left: 0;
  width: 25rem;
  height: 100vh;
  z-index: 999;
  transition: transform 500ms ease;
  transform: translateX(-26rem);
}
.navbar-menu.active {
  transform: translateX(0);
}
.navbar-list {
  display: flex;
  flex-direction: column;
}
.navbar-list-item {
  border-bottom: 1px solid rgba( 255,255,255,.1);
}
.navbar-list-item:last-of-type {
  border: none;
}
.navbar-list-link {
  display: block;
  color: var(--light-clr);
  padding: 1.5rem;
  transition: opacity 250ms;
  text-transform: capitalize;
  font-size: 1.8rem;
}
.navbar-list-link:is(:hover, :focus) {
  opacity: .5;
}
.navbar-btn-group {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
/*! === MAIN === */
main {
  overflow-x: hidden;
}
/*! === SHOWCASE === */
.showcase {
  padding-top: 14.5rem;
}
.showcase-container {
  text-align: center;
}
.showcase-image {
  display: inline-block;
  z-index: -1;
}
/*! === PORTFOLIO === */
.portfolio {
  padding-top: 7.4rem;
  padding-bottom: 12rem;
}
.portfolio-metadata {
  padding-bottom: 4rem;
  text-align: left;
}
/* --- SWIPER --- */
.swiper {
  width: 100%;
  height: auto;
}
.swiper-slide {
  width: 30rem;
  height: 30rem;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination {
  position: relative !important;
  margin-top: 3rem;
}
.swiper-pagination-bullet {
  background-color: var(--light-clr-2);
}
/*! === SERVICES === */
.services {
  background-color: var(--dark-clr);
  padding-block: 7.4rem;
}
.services-container {
  display: grid;
}
.services-image-wrapper {
  margin-bottom: 6rem;
}
.services-image-wrapper img {
  margin-inline: auto;
}
.services-list,
.services-list-divider {
  display: grid;
  gap: 5rem;
}
.services-list-icon {
  display: inline-block;
  font-size: 3.6rem;
  line-height: 3rem;
  margin-bottom: 3rem;
  color: var(--light-clr-3);
}
.services-list-title {
  margin-bottom: 1rem;
}
/*! === ABOUT === */
.about {
  padding-top: 12rem;
  padding-bottom: 6rem;
}
.about-container {
  display: grid;
  gap: 8rem;
}
.title--about {
  margin-bottom: 2rem;
}
.about-information-description:first-of-type {
  margin-bottom: 1.5rem;
}
.about-information-description:last-of-type {
  margin-bottom: 4rem;
}
.about-images {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  margin: 0 auto;
}
.about-images-image--top {
  grid-column: 4 / -1;
  grid-row: 1/span 4;
}
.about-images-image--bottom {
  grid-column: 1 / 7;
  grid-row: 3/span 5;
  z-index: 5;
}
/*! === BLOG === */
.blog {
  padding-top: 4rem;
  padding-bottom: 12rem;
}
.blog-container {
  display: grid;
}
.blog-description {
  margin-bottom: 4rem;
}
.blog-post:first-of-type {
  margin-bottom: 6rem;
}
.blog-post-image{
  margin-bottom: 3rem;
}
.blog-post-image img {
  margin-inline: auto;
}
.blog-post--title {
  font-size: 2.6rem;
  margin-bottom: 2rem;
}
/*! === FOOTER === */
.footer {
  background-color: var(--dark-clr);
  padding-top: 10rem;
  padding-bottom: 3rem;
}
.footer-group {
  text-align: center;
}
.footer-title {
  margin-bottom: 3rem;
}
.footer-separator {
  display: block;
  height: 1px;
  background-color: var(--light-clr);
  margin-top: 10rem;
  margin-bottom: 8rem;
}
.footer-logo {
  display: inline-block;
}
.footer-description {
  margin-block: 3rem;
}
.footer-list {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.footer-link {
  color: var(--light-clr-2);
  font-size: 1.8rem;
  border: 1px solid rgba(255,255,255,.1);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms;
}
.footer-link:hover {
  background-color: var(--light-clr-2);
  color: var(--dark-clr);
}
.footer-copyright {
  display: inline-block;
  margin-top: 5rem;
}
/*! === MEDIA QUERIES === */

/* --- Phones --- */
@media (min-width: 31.25em) {}
.container {
  max-width: 50rem;
}
/* --- Tablets --- */
@media (min-width: 48em) {
  body {
    font-size: 1.6rem;
  }
  .container {
    max-width: 76.8rem;
  }
  #menu-toggler {
    display: none;
  }
  .title--main {
    background-size: cover;
  }
  .navbar-menu {
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    transform: initial;
    transition: none;
  }
  .navbar-list {
    flex-direction: row;
    gap: 1rem;
  }
  .navbar-list-item {
    border: none;
  }
  .section-metadata {
    grid-column: 1/-1;
  }
  .section-metadata-decription {
    max-width: 70rem;
    margin-inline: auto;
  }
  .services-container {
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    column-gap: 2.5rem;
  }
  .services-image-wrapper {
    margin-bottom: 0;
  }
  .services-image-wrapper img {
    margin-inline: 0;
  }
  .services-list {
    grid-template-columns: repeat(2,1fr);
  }
  .services-list-item {
    align-self: center;
  }
  .about-container,
  .blog-container {
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem;
  }
  .blog-post:first-of-type {
    margin-bottom: 0;
  }
  .footer-description {
    max-width: 50rem;
    margin-inline: auto;
  }
}

/* --- Laptops/Desktops --- */

@media (min-width: 64em) {
  .container {
    max-width: 120rem;
  }
  .title--main {
    background-position: center 48%;
  }
  .services-container {
    grid-template-columns: 1fr 1.5fr;
  }
}